<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../assets/images/icono.jpg">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Crediahorro</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../assets/css/fontawesome.css">
    <link rel="stylesheet" href="../assets/css/templatemo-finance-business.css">
    <link rel="stylesheet" href="../assets/css/owl.css">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a href="#"><i class="fa fa-clock-o"></i>Lun-Vie 08:00-17:00</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>(+503) 7059-3222</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">
              <li><a href="https://www.facebook.com/p/Inversiones-Crediahorro-de-RL-61555684654692/?locale=es_LA"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/crediahorroderl/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <header class="" id="menu">
      
    </header>

    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Acerca de nosotros</h1>
            <!-- <span>We have over 20 years of experience</span> --> <br>
          </div>
        </div>
      </div>
    </div>


    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <!-- <span>Lorem ipsum dolor sit amet</span> -->
              <h2>Puedes lograr<em> Tus sueños</em></h2>
              <p<em>Crediahorro </em>Nace el 11 de noviembre de 2023, por idea de un grupo de 18 empresarios salvadoreños, para brindar servicios financieros de ahorro y créditos, apoyando al sector microempresario y todos los que deseen participar en el proyecto de inversión.</p>
              <!-- <a href="" class="filled-button">Leer mas</a> -->
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            
          </div>
        </div>
      </div>
    </div>
    <div class="more-info about-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <!-- <span>our solid background on finance</span> -->
                    <h2><em><i class="fa fa-rocket"></i> Mision</em></h2>
                    <p>Convertirnos en un Banco Cooperativo, sólido, innovador, con crecimiento y presencia en todo El Salvador.</p>
                    <h2><em><i class="fa fa-rocket"></i> Vision</em></h2>
                    <p>Somos una Cooperativa de Ahorro y Crédito que se enfoca en proporcionar productos y servicios útiles, oportunos que satisfagan las necesidades de nuestros asociados, sirviendo al sector Emprendedor de El Salvador.</p>
                    <!-- <a href="" class="filled-button">Leer mas</a> -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="../assets/images/logoP.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Nuestros <em>Valores</em></h2>
              <!-- <span>testimonials from our greatest clients</span> -->
            </div>
          </div>
          <div class="col-md-12">
            <div class="row justify-content-center">
              <div class="col-8 col-md-4">
                <div class="card mb-4 valor" style="max-width: 18rem; max-height: 18rem;">
                  <div class="card-body">
                    <img src="../assets/images/valores/respons.svg" alt="Responsabilidad" class="mb-4">
                    <h1 class="card-title">Responsabilidad</h1>
                  </div>
                </div>
              </div>
              <div class="col-8 col-md-4">
                <div class="card mb-4 valor" style="max-width: 18rem; max-height: 18rem;">
                  <div class="card-body">
                    <img src="../assets/images/valores/igualdad.svg" alt="Igualdad" class="mb-4">
                    <h5 class="card-title">Igualdad</h5>
                  </div>
                </div>
              </div>
              <div class="col-8 col-md-4">
                <div class="card mb-4 valor" style="max-width: 18rem; max-height: 18rem;">
                  <div class="card-body">
                    <img src="../assets/images/valores/ayuda.svg" alt="Ayuda Mutua" class="mb-4">
                    <h5 class="card-title">Ayuda mutua</h5>
                  </div>
                </div>
              </div>
              <div class="col-8 col-md-4">
                <div class="card mb-3 valor" style="max-width: 18rem; max-height: 18rem;">
                  <div class="card-body">
                    <img src="../assets/images/valores/transparencia.svg" alt="Transparencia" class="mb-4">
                    <h5 class="card-title">Transparencia</h5>
                  </div>
                </div>
              </div>
              <div class="col-8 col-md-4">
                <div class="card mb-3 valor" style="max-width: 18rem; max-height: 18rem;">
                  <div class="card-body">
                    <img src="../assets/images/valores/etica.svg" alt="Ética" class="mb-4">
                    <h5 class="card-title">Ética</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <div class="team">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Nuestro <em>equipo</em></h2>
              <span>Suspendisse a ante in neque iaculis lacinia</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="team-item">
              <img src="../assets/images/our-team.JPG" alt="">
              <div class="down-content">
                <h4>Equipo</h4>
                <!-- <span>Co-Founder</span> -->
                <p>In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. Aliquam ipsum urna, semper quis.</p>
              </div>
            </div>
          </div>
<!--           <div class="col-md-4">
            <div class="team-item">
              <img src="assets/images/team_02.jpg" alt="">
              <div class="down-content">
                <h4>Mary Houston</h4>
                <span>Chief Marketing Officer</span>
                <p>In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. Aliquam ipsum urna, semper quis.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="assets/images/team_03.jpg" alt="">
              <div class="down-content">
                <h4>Paul Walker</h4>
                <span>Financial Analyst</span>
                <p>In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. Aliquam ipsum urna, semper quis.</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
<!--             <div class="section-heading">
              <h2>What they say <em>about us</em></h2>
              <span>testimonials from our greatest clients</span>
            </div> -->
          </div>
          <div class="col-md-12">
            <!-- <div class="owl-testimonials owl-carousel">
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>George Walker</h4>
                  <span>Chief Financial Analyst</span>
                  <p>"Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem sit amet quam. Pellentesque in sagittis lacus."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>John Smith</h4>
                  <span>Market Specialist</span>
                  <p>"In eget leo ante. Sed nibh leo, laoreet accumsan euismod quis, scelerisque a nunc. Mauris accumsan, arcu id ornare malesuada, est nulla luctus nisi."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>David Wood</h4>
                  <span>Chief Accountant</span>
                  <p>"Ut ultricies maximus turpis, in sollicitudin ligula posuere vel. Donec finibus maximus neque, vitae egestas quam imperdiet nec. Proin nec mauris eu tortor consectetur tristique."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Andrew Boom</h4>
                  <span>Marketing Head</span>
                  <p>"Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-item">
            <h4>Finance Business</h4>
            <p>Vivamus tellus mi. Nulla ne cursus elit,vulputate. Sed ne cursus augue hasellus lacinia sapien vitae.</p>
            <ul class="social-icons">
              <li><a href="https://www.facebook.com/p/Inversiones-Crediahorro-de-RL-61555684654692/?locale=es_LA" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/crediahorroderl/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Useful Links</h4>
            <ul class="menu-list">
              <li><a href="#">Vivamus ut tellus mi</a></li>
              <li><a href="#">Nulla nec cursus elit</a></li>
              <li><a href="#">Vulputate sed nec</a></li>
              <li><a href="#">Cursus augue hasellus</a></li>
              <li><a href="#">Lacinia ac sapien</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Additional Pages</h4>
            <ul class="menu-list">
              <li><a href="#">About Us</a></li>
              <li><a href="#">How We Work</a></li>
              <li><a href="#">Quick Support</a></li>
              <li><a href="#">Contactanos</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>
    
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright &copy; 2020 Financial Business Co., Ltd.
            
            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="../assets/js/custom.js"></script>
    <script src="../assets/js/owl.js"></script>
    <script src="../assets/js/slick.js"></script>
    <script src="../assets/js/accordions.js"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
    <script>
      // Cargar el menú desde el archivo externo
      document.addEventListener("DOMContentLoaded", function() {
        fetch('menu.html')
          .then(response => response.text())
          .then(data => {
            document.getElementById('menu').innerHTML = data;
          });
      });
    </script>

  </body>
</html>