<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../assets/images/icono.jpg">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Crediahorro - Servicios</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../assets/css/fontawesome.css">
    <link rel="stylesheet" href="../assets/css/templatemo-finance-business.css">
    <link rel="stylesheet" href="../assets/css/owl.css">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a href="#"><i class="fa fa-clock-o"></i>Lun-Vie 08:00-17:00</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>(+503) 7059-3222</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">
              <li><a href="https://www.facebook.com/p/Inversiones-Crediahorro-de-RL-61555684654692/?locale=es_LA"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/crediahorroderl/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <header class="" id="menu">
      
    </header>

    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Cuerpos Directivos</h1>
            <span><br></span>
          </div>
        </div>
      </div>
    </div>

    <div class="single-services">
      <div class="container">
        <div class="row" id="tabs">
          <div class="col-md-6">
            <ul>
              <li><a href='#tabs-1' class="uppercase">asamblea general de asociados <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-2' class="uppercase">consejo de administracón <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-3' class="uppercase">junta de vigilancia <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-4' class="uppercase">comité de créditos <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-5' class="uppercase">comité de educación <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-6' class="uppercase">comité de cumplimiento <i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <section class='tabs-content'>
              <article id='tabs-1'>
                <img src="../assets/images/service_01.png" alt="">
                <h4>Ahorro Empresarial</h4>
                <p>La Asamblea General de Asociados es la autoridad máxima de la cooperativa. Sus acuerdos obligan a todos sus asociados a acatar disposiciones, siempre que se hubieren tomado de conformidad con la Ley, su Reglamento y los estatutos.</p>
              </article>
              <article id='tabs-2'>
                <img src="../assets/images/consejo administrativo.jpg" alt="">
                <h4>Consejo Administrativo</h4>
                <p>Es el órgano responsable del funcionamiento administrativo de la cooperativa y constituye el instrumento ejecutivo de la Asamblea General de Asociados, teniendo plenas facultades de dirección y administración en los asuntos de la cooperativa.</p>
              </article>
              <article id='tabs-3'>
                <img src="../assets/images/junta vigilancia.jpg" alt="">
                <h4>Junta de Vigilancia</h4>
                <p>Es el órgano encargado de supervisar todas las actividades de la cooperativa y fiscalizar los actos del Consejo de Administración, los demás órganos administrativos y de los empleados de la cooperativa.</p>
              </article>
              <article id='tabs-4'>
                <img src="../assets/images/ahorro-infantil.png" alt="">
                <h4>Comité de Crédito</h4>
                <p>Es el encargado de estudiar y resolver las solicitudes de crédito que hacen los asociados.</p>
              </article>
              <article id='tabs-5'>
                <img src="../assets/images/credito-empresarial.png" alt="">
                <h4>Comité de Educación</h4>
                <p>Es el encargado de la organización y desarrollo de programas de educación cooperativista entre los asociados, directivos, empleados y demás funcionarios de la cooperativa.</p>
              </article>
              <article id='tabs-6'>
                <img src="../assets/images/credito-empresarial.png" alt="">
                <h4>Comité de cumplimiento</h4>
                <p>Es el cuerpo especializado en la prevención del lavado de dinero, financiación del terrorismo y financiación a la proliferación de armas de destrucción masiva; enfocado en el cumplimiento relacionado a la prevención de los delitos antes mencionados.</p>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>

<!--     <div class="callback-form callback-services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Request a <em>call back</em></h2>
              <span>interdum nisl ac urna tempor mollis</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="contact-form">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="border-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div -->>

    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-partners owl-carousel">
              <div class="partner-item">
                <img src="../assets/images/client-01.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-item">
            <h4>Finance Business</h4>
            <p>Vivamus tellus mi. Nulla ne cursus elit,vulputate. Sed ne cursus augue hasellus lacinia sapien vitae.</p>
            <ul class="social-icons">
              <li><a href="https://www.facebook.com/p/Inversiones-Crediahorro-de-RL-61555684654692/?locale=es_LA" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/crediahorroderl/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Useful Links</h4>
            <ul class="menu-list">
              <li><a href="#">Vivamus ut tellus mi</a></li>
              <li><a href="#">Nulla nec cursus elit</a></li>
              <li><a href="#">Vulputate sed nec</a></li>
              <li><a href="#">Cursus augue hasellus</a></li>
              <li><a href="#">Lacinia ac sapien</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Additional Pages</h4>
            <ul class="menu-list">
              <li><a href="#">About Us</a></li>
              <li><a href="#">How We Work</a></li>
              <li><a href="#">Quick Support</a></li>
              <li><a href="#">Contactanos</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>
    
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright &copy; 2020 Financial Business Co., Ltd.
            
            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank"></a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="../assets/js/custom.js"></script>
    <script src="../assets/js/owl.js"></script>
    <script src="../assets/js/slick.js"></script>
    <script src="../assets/js/accordions.js"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
    <script>
      // Cargar el menú desde el archivo externo
      document.addEventListener("DOMContentLoaded", function() {
        fetch('menu.html')
          .then(response => response.text())
          .then(data => {
            document.getElementById('menu').innerHTML = data;
          });
      });
    </script>

  </body>
</html>